<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Electronic Fire Register</span>
  <a type="button" class="text-center btn btn-light btn-lg" href="/"><b>Return To Main Screen</b></a>
</nav>

@code {
}
